<!-- @author Liangcheng Juves -->
<!-- Created at 2020/05/16 19:48 -->
<!Doctype html>
<html lang="en">
<head>

    <script src="/static/js/amuse.js"></script>
    <script type="application/javascript">
        loadHeadCommon('404');
        loadBeautyFont();
    </script>

    <style rel="stylesheet" type="text/css">body div {
        text-align: center
    }

    body div img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20%
    }

    body div span {
        font-weight: bold;
        color: rgb(60, 198, 123);
        font-size: 35px;
        position: absolute;
        top: 85%;
        transform: translate(-50%, 0)
    }</style>
</head>
<body>
<div><img src="/static/img/icon_e404.svg"><br><span>NOT FOUND...</span></div>
<script src="/static/js/nice_bac.js.js"></script>
</body>
</html>